.App {
  font-family: "Jersey 10", serif;
  background-color: #e7e7e7;
  min-height: 100vh; /* 100% of viewport height */
  padding: 20px;
  color: #212529;
}

.main-container {
  max-width: 800px;
  margin: 0 auto; /* centers the container */
}