/* frontend/src/index.css */
body {
  margin: 0;
  padding: 0;
  font-family: "Jersey 10", serif;
  background-color: #f0f0f0;
  color: #212529;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, button, select, textarea {
  font-family: "Jersey 10", serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}